@model ShoppingMobile.Models.ModelDB.DDH

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Details</h2>

<div>
    <h4>DDH</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TenNguoiNhan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenNguoiNhan)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DiaChiNhan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DiaChiNhan)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NgayDH)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgayDH)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TrangThai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TrangThai)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SDT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SDT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.KhachHang.TenKH)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KhachHang.TenKH)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MaDDH }) |
    @Html.ActionLink("Back to List", "Index")
</p>
