@model List<ShoppingMobile.Models.ModelDB.DienThoai>

@{
    ViewBag.Title = "DSDT_Category";
    Layout = "~/Views/Shared/_ShopPage.cshtml";
}



<div class="col-md-3">
    <h2>Hãng sản xuất</h2>
    @Html.Partial("HangSanXuat", (List<ShoppingMobile.Models.ModelDB.HangSanXuat>)ViewBag.listHXS)

</div>


<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-3 col-sm-6">
            <div class="single-shop-product">
                <div class="product-upper">
                    <img src="@item.AnhDT" alt="">
                </div>
                <h2><a href="@Url.Action("Details","Shopping",new {id = item.MaDT })">@item.TenDienThoai</a></h2>
                <div class="product-carousel-price">
                    <ins>@String.Format("{0:0,0}", item.Gia) VNĐ</ins>
                </div>

                <div class="product-option-shop">
                    <a class="add_to_cart_button" data-quantity="1" data-product_sku="" data-product_id="70" rel="nofollow" href="/canvas/shop/?add-to-cart=70">Add to cart</a>
                </div>
            </div>
        </div>

    }


</div>
