@model IEnumerable<ShoppingMobile.Models.ModelDB.DDH>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TongTien)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GhiChu)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DiaChiNhan)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NgayDH)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.KhachHang.TenKH)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TongTien)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GhiChu)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DiaChiNhan)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NgayDH)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.KhachHang.TenKH)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MaDDH }) |
            @Html.ActionLink("Details", "Details", new { id=item.MaDDH }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MaDDH })
        </td>
    </tr>
}

</table>
